{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    <ul>
        {% for auction in auctions %}
        <a href="{% url 'listings' auction.id %}">
        <p>Title: {{ auction.title }}</p>
        </a>
        <p>Description: {{ auction.description }}</p>
        <p>Price: {{ auction.startBid }}</p>
        <p>Image: {{ auction.url }}</p>
        <img height="100" src={{auction.url}} alt="">
        <p>Category: {{ auction.category }}</p>
        {% endfor %}
    </ul>
    TODO
{% endblock %}