{% extends "auctions/layout.html" %}

{% block body %}
<div class="container">
    <h2 class="mb-4">Active Listings</h2>
    <div class="row">
        {% for auction in auctions %}
            <div class="col-md-6 col-lg-4 d-flex align-items-stretch">
                {% include "auctions/partials/listing_layout.html" with auction=auction %}
            </div>
        {% empty %}
            <div class="col-12">
                <div class="alert alert-info">No active listings at the moment.</div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}